[submodule "process-IQ-rush-school"]
	path = process-IQ-rush-school
	url = https://github.com/NyAina11/process-IQ-rush-school.git
	branch = vercel
[submodule "ProcessIQFileGenerator"]
	path = ProcessIQFileGenerator
	url = https://github.com/Liantsoarandria0803/ProcessIQFileGenerator.git
